## Reto 2: Tablas de frecuencias

### 1. Objetivos:
    - Aprender a generar tablas de frecuencias segmentando nuestros datos
 
---
    
### 2. Desarrollo:

#### a) Analizando distribución con tablas de frecuencias

Vamos a generar tablas de frecuencias de los siguientes datasets y columnas:

1. Dataset: 'near_earth_objects-jan_feb_1995-clean.csv'
    - Columnas a graficar: 'estimated_diameter.meters.estimated_diameter_max' y 'relative_velocity.kilometers_per_second'
2. Dataset: 'new_york_times_bestsellers-clean.json'
    - Columnas a graficar: 'price.numberDouble'
3. Dataset: 'melbourne_housing-clean.csv'
    - Columnas a graficar: 'land_size'
    
Estos conjuntos de datos son los mismos que graficamos en el Reto anterior. Antes de generar las tablas de frecuencias, revisa el rango de tus conjuntos de datos y decide el número de segmentos adecuado para cada uno.

Después, genera las tablas de frecuencias para cada uno de estos conjuntos de datos y compáralos con las gráficas de caja que realizaste en el Reto anterior. ¿Hay información nueva? ¿Qué ventajas o desventajas nos da esta nueva perspectiva?

Piensa cuál de las dos aproximaciones (boxplots y tablas de frecuencia) resulta más útil para detectar valores atípicos. ¿O simplemente son útiles en diferentes contextos?

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df1 = pd.read_csv('/content/drive/MyDrive/Remoto Datasets/Remoto near_earth_objects-jan_feb_1995-clean.csv')

In [5]:
df1['estimated_diameter.meters.estimated_diameter_max'].describe()

count     333.000000
mean      410.086042
std       614.691592
min         2.978791
25%        62.235757
50%       215.794305
75%       517.654482
max      6516.883822
Name: estimated_diameter.meters.estimated_diameter_max, dtype: float64

In [15]:
segmentos1 = pd.cut(df1['estimated_diameter.meters.estimated_diameter_max'], 10)

In [16]:
df1['estimated_diameter.meters.estimated_diameter_max'].groupby(segmentos1).count()

estimated_diameter.meters.estimated_diameter_max
(-3.535, 654.369]       274
(654.369, 1305.76]       42
(1305.76, 1957.15]       10
(1957.15, 2608.541]       2
(2608.541, 3259.931]      2
(3259.931, 3911.322]      2
(3911.322, 4562.712]      0
(4562.712, 5214.103]      0
(5214.103, 5865.493]      0
(5865.493, 6516.884]      1
Name: estimated_diameter.meters.estimated_diameter_max, dtype: int64

In [17]:
df1['relative_velocity.kilometers_per_second'].describe()

count    333.000000
mean      14.984228
std        7.995994
min        0.681437
25%        8.599443
50%       14.257166
75%       18.782546
max       40.527428
Name: relative_velocity.kilometers_per_second, dtype: float64

In [20]:
segmentos2 = pd.cut(df1['relative_velocity.kilometers_per_second'], 15)

In [21]:
df1['relative_velocity.kilometers_per_second'].groupby(segmentos2).count()

relative_velocity.kilometers_per_second
(0.642, 3.338]       8
(3.338, 5.994]      27
(5.994, 8.651]      50
(8.651, 11.307]     43
(11.307, 13.963]    33
(13.963, 16.62]     50
(16.62, 19.276]     45
(19.276, 21.933]    19
(21.933, 24.589]    15
(24.589, 27.245]    12
(27.245, 29.902]    14
(29.902, 32.558]     7
(32.558, 35.215]     3
(35.215, 37.871]     5
(37.871, 40.527]     2
Name: relative_velocity.kilometers_per_second, dtype: int64

In [ ]:
## Datos Bestsellers

In [25]:
df2 = pd.read_json('/content/drive/MyDrive/Remoto Datasets/Remoto new_york_times_bestsellers-clean.json')

In [27]:
df2['price.numberDouble'].describe()

count    3033.000000
mean       26.818368
std         1.787720
min        14.990000
25%        25.950000
50%        26.950000
75%        27.990000
max        34.990000
Name: price.numberDouble, dtype: float64

In [30]:
segmentos3 = pd.cut(df2['price.numberDouble'], 15)

In [31]:
df2['price.numberDouble'].groupby(segmentos3).count()

price.numberDouble
(14.97, 16.323]        3
(16.323, 17.657]      11
(17.657, 18.99]        0
(18.99, 20.323]       33
(20.323, 21.657]       0
(21.657, 22.99]       33
(22.99, 24.323]       39
(24.323, 25.657]     407
(25.657, 26.99]     1257
(26.99, 28.323]      986
(28.323, 29.657]     168
(29.657, 30.99]       84
(30.99, 32.323]        0
(32.323, 33.657]       0
(33.657, 34.99]       12
Name: price.numberDouble, dtype: int64

In [ ]:
##  Melbourne

In [33]:
df3 = pd.read_csv('/content/drive/MyDrive/Remoto Datasets/Remoto melbourne_housing-clean.csv')

In [34]:
df3['land_size'].describe()

count    11646.000000
mean       554.458097
std       1460.432326
min          0.000000
25%        162.000000
50%        412.000000
75%        656.000000
max      76000.000000
Name: land_size, dtype: float64

In [39]:
iqr = df3['land_size'].quantile(.75)-df3['land_size'].quantile(.25)
filtro_inferior = df3['land_size'] > df3['land_size'].quantile(.25)-(iqr*1.5)
filtro_superior = df3['land_size'] < df3['land_size'].quantile(.75)+(iqr*1.5)

df3 = df3[filtro_inferior & filtro_superior]

In [40]:
segmentos4 = pd.cut(df3['land_size'], 20)

In [41]:
df3['land_size'].groupby(segmentos4).count()

land_size
(-1.396, 69.8]      1930
(69.8, 139.6]        651
(139.6, 209.4]      1033
(209.4, 279.2]       886
(279.2, 349.0]       808
(349.0, 418.8]       560
(418.8, 488.6]       559
(488.6, 558.4]       703
(558.4, 628.2]      1163
(628.2, 698.0]      1020
(698.0, 767.8]       666
(767.8, 837.6]       364
(837.6, 907.4]       201
(907.4, 977.2]       112
(977.2, 1047.0]      100
(1047.0, 1116.8]      67
(1116.8, 1186.6]      37
(1186.6, 1256.4]      34
(1256.4, 1326.2]      22
(1326.2, 1396.0]      18
Name: land_size, dtype: int64